certifi==2021.10.8
charset-normalizer==2.0.7
nltk==3.6.5
openpyxl==3.0.9
pyTelegramBotAPI==4.1.1
python-dateutil==2.8.2
python-docx @ git+https://github.com/KehaoWu/python-docx.git@8821651796628f576b98f47662adabb16da7c9fa
python-pptx==0.6.18
PyYAML==6.0
regex==2021.11.1
requests==2.26.0
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.2
XlsxWriter==3.0.2
httpx==0.22.0
fastapi==0.74.1
uvicorn==0.17.5
python-dotenv==0.21.0